*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Evitar subir de nuevo un VCF con datos reales en la raiz del repo
/contacts.vcf
/contacts2.vcf
/contacts3.vcf

